@import "/styles/helpers.scss";

.sidebar {
  @include size(91px, 100%);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &Icon {
    max-width: 50px;
    max-height: 50px;
    transition: 0.3s;

    &:hover {
      background: rgba(0, 0, 0, 0.096);
      border-radius: 8px;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @include laptop {
    display: none;
  }
}
